APP_NAME=AI Video Generator API
APP_ENV=development
DEBUG=True

DATABASE_URL=

JWT_SECRET=supersecret
JWT_ALGORITHM=HS256
JWT_EXPIRE_DAYS=7

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

CORS_ORIGINS=http://localhost:3000